/*Earvena Chalmers
*albumStyles.css v3
*04/22/2016
*/

/* FONTS */
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);


body{

	font-size: 14px;
	background-color: #9ba2a8;
}
img{
	width: 400px;
	height: 400px;
}
.osw{
	font-family: 'Oswald';
}
#album-cover{
	    background: url(Who_We_Are_Lifehouse.jpg) no-repeat center center;
        background-size: cover;
        width: 400px;
        height: 400px;
}
ul{
	font-style: italic;
}
