/*Earvena Chalmers
*04/22/2016
*restaurantStyles.css v3
*/

/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700,900);

/* OVERALL ASPECT */

body {
  	background-color: #E8E4A7;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #000;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    
    margin-top: 70px;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #000;
}

header,footer{
	display: block;

}
nav{
    color: #000;
    font-weight: bold;
}
footer{
	clear:both;
	font-size: 18px;
}

.center{
	text-align: center;
}
.bold{
	font-weight: bold;
}