/*Earvena Chalmers
*04/25/2016
*restaurantStyles.css v6
*/

/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700,900);

/* OVERALL ASPECT */

body {
  	background-color: #E8E4A7;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #000;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    
    margin-top: 70px;
    overflow-x: hidden;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #000;
}

header,footer{
	display: block;

}
span{
    font-size: 18px;
}
nav{
    color: #000;
    font-size: 18px;
    padding-left: 25px;
}
nav ul{
    margin: 0px;
    /*padding: 5px 0px 5px 30px;*/
    text-align: left;
}
nav li{
    display: inline;
    /*margin-right: 25px;*/
    padding: 0px 10px;
}
a{
    color: #000;
    text-decoration: none;
}
a:visited{
    color: #672019;
}
a:hover{
    font-weight: bold
}
footer{
	clear:both;
	font-size: 18px;
}

.center{
	text-align: center;
}
.bold{
	font-weight: bold;
}
td{
    padding-bottom: 10px;
}
.jumbotron{
    background-color: #672019;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}
.jumbotron h2{
    color: #fff;
}

.carousel h3, h4{
    color: #fff;
    font-weight: bold;
}