/*Earvena Chalmers
*albumStyles.css v5
*04/24/2016
*/

/* FONTS */
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);


body{

	font-size: 14px;
	background-color: #9ba2a8;
}
img{
	width: 450px;
	height: 450px;
}
.osw{
	font-family: 'Oswald';
}
#album-cover{
	    background: url(Who_We_Are_Lifehouse.jpg) no-repeat center center;
        background-size: cover;
        width: 400px;
        height: 400px;
}
ul{
	font-style: italic;
}
a:link{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
	background-color: #fff;
}

a:active{
	text-decoration: none;

}
caption{
	text-align: center;
	color: #000;
}
table{
	text-align: center;
	padding-bottom: 20px;
}
td{
	font-style: italic;
}
th{
	text-align: center;

}
tbody tr:nth-child(even){
	background-color: #fff;
}
tbody tr:nth-child(odd){
	background-color: #c1e8f3;
}
